---
import type { User } from "@prisma/client";
import Layout from "../../layouts/Layout.astro";
import { prisma } from "../../libs/prisma";

const { id } = Astro.params;

const currentUser = await prisma.user.findFirst({ where: { id } });

const req = Astro.request;
if (req.method === "POST") {
  try {
    const formData = await req.formData();
    const data = Object.fromEntries(formData) as unknown as User;
    try {
      await prisma.user.update({
        where: { id },
        data,
      });
    } catch (error) {
      if (error instanceof Error) console.log(error.message);
    }
  } catch (error) {
    console.log(error);
  }
  return Astro.redirect("/");
}
---

<Layout title="Edit Page">
  <main class="w-full min-h-screen flex justify-center items-center">
    <form method="POST" class="lg:w-1/2 md:w-1/3 w-full flex flex-col gap-4">
      <h1 class="text-xl font-semibold">Edit Your User</h1>
      <div class="flex flex-col gap-2">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value={currentUser?.name} />
      </div>
      <div class="flex flex-col gap-2">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          value={currentUser?.email}
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          value={currentUser?.password}
        />
      </div>
      <label class="flex gap-2 items-center cursor-pointer">
        <input type="checkbox" id="showPassword" />
        <span class="text-xs">Show Password</span>
      </label>
      <button type="submit" class="cursor-pointer bg-zinc-950 p-2 rounded-md"
        >Update</button
      >
    </form>
  </main>
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const passwordInput: any = document.getElementById("password");
    const checkbox: any = document.getElementById("showPassword");
    checkbox?.addEventListener("change", () => {
      passwordInput.type = checkbox.checked ? "text" : "password";
    });
  });
</script>
