---

---

<div class="dropdown">
  <div tabindex="0" role="button" class="btn m-1">
    Theme
    <svg
      width="12px"
      height="12px"
      class="inline-block h-2 w-2 fill-current opacity-60"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048"
    >
      <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
      ></path>
    </svg>
  </div>
  <ul
    tabindex="0"
    class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl space-y-2.5"
  >
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Dark"
        value="sunset"
      />
    </li>
    <li>
      <input
        type="radio"
        name="theme-dropdown"
        class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
        aria-label="Light"
        value="bumblebee"
      />
    </li>
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const themeInputs =
      document.querySelectorAll<HTMLInputElement>(".theme-controller");
    const savedTheme = localStorage.getItem("theme") || "bumblebee";

    // Apply saved theme
    document.documentElement.setAttribute("data-theme", savedTheme);

    // Set the selected radio input based on the saved theme
    themeInputs.forEach((input) => {
      if (input instanceof HTMLInputElement) {
        if (input.value === savedTheme) {
          input.checked = true;
        }

        // Add event listener to change theme
        input.addEventListener("change", (event) => {
          const newTheme = (event.target as HTMLInputElement).value;
          document.documentElement.setAttribute("data-theme", newTheme);
          localStorage.setItem("theme", newTheme);
        });
      }
    });
  });
</script>
